html {
  font-family: Roboto, sans-serif;
  font-weight: 500;
  font-style: normal;
}

body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --blue: #00acdc;
  --black: #000;
}

.header {
  display: flex;
  align-items: center;
  width: 100%;
}

.logo {
  width: 40;
  height: 40;
  margin: 5px 0 5px 50px;
}

.menu {
  display: flex;
  align-items: center;
  margin: 0 0 0 414px;
  padding: 0;
}

.menu__list {
  list-style: none;
}

.menu__link {
  position: relative;
  display: flex;
  align-items: center;
  text-transform: uppercase;
  text-decoration: none;
  color: var(--black);
  font-weight: 500;
  font-size: 12px;
  height: 60px;
  padding: 0;
}

.menu__link:not(:first-child, :last-child) {
  margin-left: 10px;
  margin-right: 10px;
}

.menu__link:first-child {
  margin-right: 10px;
}

.menu__link:last-child {
  margin-left: 10px;
}

.is-active {
  color: var(--blue);
}

.is-active::after {
  content: '';
  display: block;
  width: 37px;
  height: 4px;
  background-color: var(--blue);
  border-radius: 8px;
  margin-top: 4px;
  position: absolute;
  top: 56px;
}

[data-qa='hover']:hover {
  color: var(--blue);
}
